[project]
	description = Automatically exported from code.google.com/p/rastertovector
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prateek Kumar (p2401kumar)
[access "refs/for/refs/*"]
	read = group user/Prateek Kumar (p2401kumar)
	push = group user/Prateek Kumar (p2401kumar)
	label-Code-Review = -2..+2 group user/Prateek Kumar (p2401kumar)
	label-Verified = -1..+1 group user/Prateek Kumar (p2401kumar)
	rebase = group user/Prateek Kumar (p2401kumar)
	removeReviewer = group user/Prateek Kumar (p2401kumar)
	submit = group user/Prateek Kumar (p2401kumar)
[access "refs/heads/*"]
	read = group user/Prateek Kumar (p2401kumar)
	create = group user/Prateek Kumar (p2401kumar)
	push = +force group user/Prateek Kumar (p2401kumar)
	pushMerge = group user/Prateek Kumar (p2401kumar)
[access "refs/tags/*"]
	push = group user/Prateek Kumar (p2401kumar)
	push = +force group user/Prateek Kumar (p2401kumar)
